<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
</head>
<body>
    <form action="{{url_for('Summarize')}}" method="post">  <!-- Correct 'method' instead of 'methods' -->
        <textarea name="data" cols="30" rows="10" placeholder="Enter your Data" required="required"></textarea>
        <button type="submit">Submit</button>
    </form>
    <h3>Summarized Text:</h3>
    <textarea rows="10" cols="30" name="result">{{result}}</textarea>
</body>
</html>
